{% extends 'user/base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="text-center" style="padding-top : 2%">
    <h1>Visualisation du post</h1>
    <br>
    Id du post : {{post.id}}
    <br>
    Titre du post : {{post.title}}
    <br>
    Contenu du post : {{post.content}}
    <br>
    <br>
    Créé le : {{post.createdAt|date("d/m/Y")}} à {{post.createdAt|date("H:i")}}
    <br>
    Publié le : 
    {{post.publishedAt|date("d/m/Y")}} à {{post.publishedAt|date("H:i")}}
    <br>
    Mis à jour le :
    {{post.updatedAt|date("d/m/Y")}} à {{post.updatedAt|date("H:i")}}
    <br>
    <br>
    <a href="http://symfony.iut/comment/create/{{post.id}}">Laisser un commentaire</a>
    <br>
    <br>
    <div style="text-align:left">
        <h2>Commentaires :<h2>
        <br>
        {% for comment in comments %}
            {% if comment.valid %}
                <h4>{{ comment.username}}</h4>
                <br>
                {{comment.content}}
                <br>
                <br>
            {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}
