<h4 class="mt-4">Catégories</h4>

<div class="list-group">

    {% for category in categories %}
        {% if getNbPosts(category.id) > 0 %}
            <a href="{{ path('category.show', {id: category.id}) }}" class="list-group-item list-group-item-action">
            {{ category.name }}  -  ({{ getNbPosts(category.id) }})
            </a>
        {% endif %}
    {% endfor %}

</div>

<h4 class="mt-4">Derniers commentaires</h4>

<div class="list-group">
    {% for comment in comments %}
        {% if comment.valid %}
            <a href="{{ path('comment.show', {idComment: comment.id}) }}" class="list-group-item list-group-item-action">
                <b>{{ comment.username }}</b><br>
                {{ comment.content|u.truncate(75, '...')}}
            </a>
        {% endif %}
    {% endfor %}
</div>


