{% extends 'admin/base.admin.html.twig' %}

{% block title %}Liste des posts{% endblock %}

{% block body %}

	<h1 class="text-center mt-4">Liste des posts</h1>
	<br>
    <div class="container text-center">
        <div class="row row-cols-3">
        {% for post in posts %}
            <div class="col mb-3">
                <div class="card w-100 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <a href="http://symfony.iut/admin/post/{{ post.slug }}" class="btn btn-secondary btn-outline-warning">Afficher le post</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Crée le {{ post.createdAt|date("d/m/Y")}} à {{ post.createdAt|date("H:i")}}</small>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
