{% extends 'admin/base.admin.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-5">Visualisation du post</h1>
    <br>
    <div class="container">
        <div class="card text-center w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <hr>
            <p class="card-text font-italic">{{ post.description|nl2br }}</p>
            <hr>
            <p class="card-tex text-justify">{{ post.content|nl2br }}</p>
            <hr>
            <p>Catégories :
            {% for category in post.categories %}
                    <a href="http://symfony.iut/admin/category/{{ category.id }}" class="mx-1">{{ category.name }}</a>
            {% endfor %}
            </p>
            <hr>
            <a href="http://symfony.iut/admin/post/{{ post.slug }}/edit" class="btn btn-info mx-2">Modifier</a>
            <a href="http://symfony.iut/admin/post/{{ post.id }}/remove" class="btn btn-info mx-2">Supprimer</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Crée le {{ post.createdAt|date("d/m/Y")}} à {{ post.createdAt|date("H:i")}}</small>
            <br>
            <small class="text-muted">Publication le : {{ post.publishedAt|date("d/m/Y")}} à {{ post.publishedAt|date("H:i")}}</small>
            <br>
            <small class="text-muted">Dernière mise à jour : {{ post.updatedAt|date("d/m/Y")}} à {{ post.updatedAt|date("H:i")}}</small>
        </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="text-left ml-4">Commentaires :<h2>
    <br>
    <div class="mx-4">
        <div class="row row-cols-4">
            {% for comment in comments %}
                {% if comment.valid %}
                    <div class="col mb-3">
                        <div class="jumbotron p-3">
                            <h4 class="">{{ comment.username }}</h4>
                            <br>
                            <p class="lead">{{ comment.content }}</p>
                            <hr class="mt-4">
                            <small class="text-muted align-middle" style="font-size:40%">Le {{ comment.createdAt|date("d/m/Y à H:i") }}</small>
                            
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

