{% extends 'user/base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-5">Ajouter un commentaire</h1>
    <div class="container mx-auto mb-5">
        <div class="card text-center w-50 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <p class="card-text">{{ post.content }}</p>
            <p>Catégories :
            {% for category in post.categories %}
                    <a href="http://symfony.iut/category/{{ category.id }}" class="mx-1">{{ category.name }}</a>
            {% endfor %}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Publié le : {{ post.publishedAt|date("d/m/Y")}} à {{ post.publishedAt|date("H:i")}}</small>
            <br>
            <small class="text-muted">Dernière mise à jour : {{ post.updatedAt|date("d/m/Y")}} à {{ post.updatedAt|date("H:i")}}</small>
        </div>
        </div>
    </div>
    <h2 class="text-center my-4 mx-auto">Commentaire :</h2>
    <div class="container w-50"> 
        <form name="comment" method="post">
            <div id="comment">
                {{ form_row(formView.username) }}
                {{ form_row(formView.content) }}
                <div class="form-group">
                    <button type="submit" id="post_Valider" name="post[Valider]" class="btn btn-info btn-block w-50 mx-auto">Valider</button>
                </div>
            </div>
            {{ form_widget(formView._token) }}
        </form>
    </div>
{% endblock %}