{% extends 'user/base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<div style="padding-top : 2%">
    <h1>Post :</h1>
    <br>
    Titre : {{post.title}}
    <br>
    Description : {{post.description}}
    <br>
    Contenu : {{post.content}}
    <br>
    Date de publication du post : {{post.publishedAt|date("d/m/Y")}}
    <br>
    <br>
    <h1>Commentaires :</h1>
    {% for comment in comments %}
        User : {{comment.username}}
        <br>
        Contenu : {{comment.content}}
        <br>
        Date : {{comment.createdAt|date("d/m/Y")}}
        <br>
        -------------------------------------------------------------
        <br>
    {% endfor %}



</div>
{% endblock %}
