{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="text-center" style="padding-top : 2%">
    <h1>Visualisation du produit</h1>
    <br>
    Id du produit : {{product.id}}
    <br>
    Nom du produit : {{product.name}}
    <br>
    Prix du produit : {{product.price}}
    <br>
    Description du produit : {{product.description}}
    <br>
    Catégorie du produit : {{category}}
</div>
{% endblock %}
